<h1>Items</h1>
<%= render partial: 'shared/email' %>

<% if @items.empty? %>
    <b>No items in store</b>
<% else %>
    <table class="items">
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      <% @items.each do |item| %>
        <tr data-item-id="<%= item.id %>">
          <td><%= item.id %></td>
          <td><%= image_tag item.image.file, width: '50px' if item.image %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.votes_count %></td>
          <td><%= item.created_at %></td>
          <td>
            <%= link_to 'Vote', upvote_item_path(item) %>
            <%= link_to 'Edit', edit_item_path(item) %>
            <span class="deleteAction">Remove</span>
          </td>
        </tr>
      <% end %>
    </table>
<% end %>