// Place all the styles related to the items controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.items
  border-collapse: collapse

  th, td
    border: dotted 1px #aaa
    padding: 0.5em
    vertical-align: center
    text-align: left

  .deleteAction
    color: blue
    border-bottom: dotted
    cursor: pointer